section {
	margin:50px 0;
}
#sect1 {
	margin:0 auto;
}
#sect1 img {
	width: 100%;
}
/* section1 end */
#sect2 .panels.sect2_1 {
	width:calc(100% - 200px);
}
#sect2 .product_menu {
	font-size:1.2rem;
	line-height:3em;
	text-align:right;
	width:170px;
}
#sect2 .on {
	font-size:1.1em;
	color:#333;
	position:relative;
}
#sect2 .on::after {
	content:'';
	background-color:#333;
	width:170px;
	height:3px;
	position:absolute;
	bottom:-50%;
	right:0;
}
#sect2 .sect2_1 p {
	line-height:1.5em;
}
.panel {
	display:none;
}
#sect2 .sect2_1 h2 {
	margin:15% 0;
	font-size:4rem;
}
#sect2 .sect2_1 h4 {
	margin:10% 0;
}
#sect2 .sect2_1 .product_des {
	width:50%
}
#sect2 .sect2_1 .product_img {
	width:50%;
	box-sizing:border-box;
	text-align: center;
}
/* section2 end */
#sect3 {
	background-color:#218DCF;
	padding:10vh 0;
	position:relative;
	box-shadow:0 0 10px #218DCF;
}
#sect3 .inner {
	max-width:1100px;
	text-align:center;
}
#sect3 .recruit a {
	display:block;
	position:relative;
	width:273px;
	height:227px;
	text-align:center;
}
#sect3 .recruit::after {
	content:'';
	background-color:#fff;
	width:1px;
	height:180px;
	position:relative;
	transform:translate(2.5vw,1.5vh);
}
#sect3 .recruit.flex {
	justify-content:space-between;
	transition:.3s;
}
#sect3 .recruit:last-of-type::after {
	display:none;
}
#sect3 h4,#sect3 p {
	color:#fff;
}
#sect3 .recruit h4 {
	margin-bottom:25px;
}
#sect3 .recruit p {
	margin-top:25px;
}
#sect3 .hidden {
	display:none;
}
#sect3 .recruit:hover .hidden {
	display:block;
	padding-top:50px;
	padding-bottom:50px;
}
#sect3 .recruit:hover .roll_before {
	display:none;
}
#sect3 .recruit:hover p span {
	padding:5px 10px;
	background-color:#fff;
	color: #218DCF;
}
/* section3 end */
#sect4 h3 {
	margin-bottom:20px;
}
#sect4 .promo_center>div {
	width:calc((100% - 50px)/4);
	border:1px solid #333;
}
#sect4 .promo_center div>img {
	width:100%;
	transition:.3s;
}
#sect4 .promo_center div div {
	overflow:hidden;
}
#sect4 .promo_center div:hover div img {
	transform:scale(1.1);
}
#sect4 .promo_center div h4 {
	padding:20px 0 10px 20px;
}
#sect4 .promo_center div p {
	font-size:0.875rem;
	padding: 0 20px 20px 20px;
}
/* section4 end */
#sect5 {
	position:relative;
	padding:50px 0;
	background-image:url(../img/inderstry-factory.png);
	background-size:cover;
	background-repeat:no-repeat;
	box-shadow:0 8px 10px #ddd;
}
#sect5 h3 {
	color:#333;
}
#sect5 .edu h4 {
	margin-top:50px;
	margin-bottom:20px;
	color:#333;
}
#sect5 .edu p {
	color:#666;
}
#sect5 .edu a {
	position:relative;
}
#sect5 .edu a div {
	position:static;
	width:100%;
	height:3px;
	top:0;
	left:0;
	transform:translateY(25px);
	background-color:#000;
}
#sect5 .edu a p {
	font-size:0.875rem;
}
#sect5 a {
	transition:.3s;
}
#sect5 a:hover {
	transform: translateY(-10px);
}
/* section5 end */
#sect6 h3 {
	margin-bottom:20px;
}
#sect6 .ascenter,#sect6 .news {
	width:calc((100% - 20px)/2);
}
#sect6 .ascenter {
	vertical-align:middle;
}
#sect6 .ascenter img {
	max-height:400px;
}
#sect6 .ascenter:hover img {
	transform:scale(1.1);
}
#sect6 .ascenter .flex .flex {
	justify-content:space-around;
}
#sect6 .ascenter p {
	text-align:center;
	font-size:1.125em;
	color:#333;
	font-weight:500;
	line-height:2em;
	margin:100px auto;
}
#sect6 .ascenter p span {
	color:#e60000;
}
#sect6 .news {
	position:relative;
}
#sect6 .news h3:after {
	top:0;
	left:-5px;
}
#sect6 .news h4 {
	border-bottom:1px dotted #ddd;
}
#sect6 .news a {
	margin-left:10px;
}
#sect6 .news ul {
	height:418px;
	display:flex;
	flex-wrap:wrap;
}
#sect6 .news li:first-child {
	border-top:1px dotted #ddd;
}
#sect6 .news li {
	border-bottom:1px dotted #ddd;
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
	position:relative;
}
#sect6 .news li a {
	font-size:1.1rem;
	width:calc(100% - 100px);
	color:#999;
	display:block;
	line-height:1.5rem;
	font-size:0.875em;
}
#sect6 .news li a:hover {
	color:#333;
}
#sect6 .news ul li p {
	width:80px;
	font-size:1.4rem;
	color:#d4ccc1;
}
#sect6 .news ul li p span {
	font-size:0.8rem;
	position:absolute;
	right: 20px;
}
/* section6 end */
/* sections end */
#popupDiv {
	max-width:100%;
	display:inline-block;
	position:absolute;
	top:120px;
	left:100px;
	z-index:9;
}
#popupDiv img {
	width:100%;
}
.footer-td {
	justify-content:space-around;
	background:#000;
	height:40px;
	width:100%;
	text-align:center;
	line-height:40px;
}
.footer-td a {
	color:#fff;
}
@media all and (max-width:1295px) {
	#footer .inner .foot .foot_bot .copy {
		padding-top:0;
	}
	#footer .inner .foot .foot_bot .abs {
		position:relative;
	}
	#sect6 .ascenter .flex .flex {
		flex-wrap:nowrap;
	}
}
@media all and (max-width:1255px) {
	#sect2 .sect2_1 .product_img {
		padding-left:0px;
	}
}
@media all and (max-width:1155px) {
	#sect2 .on {
		text-decoration:underline;
		text-decoration-thickness:3px;
		text-underline-position:under;
	}
	#sect2 .product_menu {
		width:100%;
	}
	#sect2 .product_img img {
		max-height:300px;
	}
	#sect2 .on::after {
		display:none;
	}
	#sect2 .sect2_1 .product_img,#sect2 .sect2_1 .product_des,#sect2 .panels.sect2_1 {
		width:100%;
	}
	.panel .flex {
		flex-wrap:nowrap;
	}
	.tabs {
		display:flex;
		flex-direction:row;
		justify-content:space-evenly;
		flex-wrap:wrap;
		margin-top:20px;
		font-size:14px;
	}
	.tabs li {
		padding:0 10px;
	}
	#sect5 .slick-next.slick-arrow {
		right:-24px;
	}
	#sect5 .slick-prev.slick-arrow {
		left:-24px;
	}
	#sect6 .news ul {
		height:80%;
	}
}
@media all and (max-width:1003px) {
	.panel .flex {
		flex-wrap:nowrap;
	}
	#sect2 .sect2_1 h2 {
		font-size:48px;
	}
}
@media all and (max-width:1024px) {
	#sect2 .sect2_1 .product_img {
		padding-left:0;
	}
}
@media all and (max-width:920px) {
	#sect4 .promo_center>div {
		justify-content:space-around;
		width:calc((100% - 50px)/2);
		margin-bottom:30px;
	}
	#sect3 .inner.flex {
		justify-content:space-around;
	}
	#sect3 .recruit::after {
		content:none;
	}
	#sect4 .promo_center {
		justify-content:space-around;
	}
	#popupDiv {
		max-width:60%;
	}
}
@media all and (max-width:877px) {
	#sect6 .news {
		width:100%;
	}
	#sect6 .news ul {
		height:400px;
	}
	#sect6 .ascenter {
		margin-bottom:10px;
	}
	#sect6 .ascenter .flex .flex p {
		width:500px;
	}
}
@media all and (max-width:768px) {
	#sect1 .slick-prev.slick-arrow::before,#sect1 .slick-next.slick-arrow::before {
		display:none;
	}
	.tabs li {
		line-height:2em;
	}
	#sect2 .sect2_1 .product_img {
		margin-top:0;
	}
	#sect2 .sect2_1 h2,#sect2 .sect2_1 h4,#sect2 .sect2_1 p {
		margin:10% 0%;
	}
	#sect2 .flex {
		justify-content:space-around;
		flex-wrap:wrap;
	}
	#sect2 br {
		display:inline-block;
		content:" ";
		padding:0 2px;
	}
	#sect3 {
		padding:3vh 0;
	}
	#sect3 .recruit.flex {
		justify-content:center;
		transition:.3s;
		width:40%;
		border:1px solid #fff;
		margin-bottom:30px;
	}
	#sect3 .recruit a {
		padding-bottom:250px;
		margin:15px 15px;
		border-bottom:none;
	}
	#sect3 .recruit:last-child a {
		border-bottom:none;
	}
	#sect5 br {
		display:inline-block;
		content:"";
		padding:0 2px;
	}
	#sect6 .ascenter .flex .flex {
		flex-wrap:nowrap;
	}
	#sect6 .news {
		margin-top:20px;
	}
	#sect6 .news ul {
		height:419px;
	}
	#popupDiv {
		display:none;
	}
}
@media all and (max-width:630px) {
	#sect6 .ascenter .flex .flex p {
		width:150px;
	}
	.search-box {
		width:80%;
	}
	#header .nav_btn .recent {
		width:80%;
	}
}
@media all and (max-width:533px) {
	#sect3 .recruit a {
		display:block;
		position:relative;
		height:250px;
		text-align:center;
	}
	#sect3 .recruit p {
		margin-top:10px;
	}
}
@media all and (max-width:490px) {
	#sect2 .sect2_1 h2 {
		font-size:3em;
	}
	#sect3 .recruit.flex {
		justify-content:center;
		transition:.3s;
		width:100%;
		border:1px solid #fff;
		margin-bottom:30px;
	}
	#sect6 .ascenter .flex .flex p {
		width:100%;
	}
	#sect4 .promo_center>div {
		width:100%;
		margin-bottom:20px;
	}
}
@media all and (max-width:425px) {
	#sect2 .sect2_1 .product_img img {
		width:50%;
	}
	#sect6 .news li a {
		font-size:0.8rem;
	}
	#sect6 .news ul {
		height:319px;
	}
	#sect6 .ascenter p {
		margin:40px auto;
	}
	#sect6 .ascenter .flex .flex {
		flex-wrap:wrap;
	}
}
@media all and (max-width:320px) {
	#sect2 .sect2_1 h2 {
		font-size:2.6em;
	}
	#sect4 .promo_center div h4 {
		padding:10px 0 5px 10px;
	}
	#sect4 .promo_center div p {
		font-size:0.8rem;
		padding: 0 10px 10px 10px;
	}
}